<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="informattion-cypto">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `informattion-cypto`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformattionCypto extends Polymer.Element {
      static get is() { return 'informattion-cypto'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'informattion-cypto'
          }
        };
      }
    }

    window.customElements.define(InformattionCypto.is, InformattionCypto);
  </script>
</dom-module>
